<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kpu.myweb.mapper.StudentMapper">
  
 	<select id="getTime" resultType="string">
 		select now()
 	</select>
 	
     <insert id="insert"> 
   		insert into tk_feedback (id, date,title, player, content, writer) values
 		(#{id}, #{date}, #{title}, #{player}, #{content}, #{writer})
     </insert> 
 	
     <select id="selectByid" resultType="FeedbackVO">
 		select * from tk_feedback where id = #{id}
     </select>
 	
     <select id="selectAll" resultType="org.kpu.myweb.domain.FeedbackVO">
     <![CDATA[
 		select * from tk_feedback
      ]]> 
     </select>
 	
     <update id="update">
	 	update tk_feedback set id =#{id}, date =#{date}, title =#{title}, 
			player =#{player}, content =#{content}, writer =#{writer} 
		 where id = #{id}
    </update>
 
    <delete id="delete">
		delete from tk_feedback where id = #{id}
    </delete>
    
	 <!-- 게시판 조회수 -->
    <update id="boardHit" parameterType="int">
    	UPDATE tk_feedback SET
    	HIT = HIT+1
    	WHERE id = #{id}
    </update>
</mapper>  